<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body>
    <% include ../partials/sideNav %>
    <div class="page">
        <% include ../partials/nav %>


        <section class="dashboard-padding dashboard-section">
            <div class="res-padding">

                <div class="dashboard-message">
                    <span id="dashboard-msg-content"></span>
                </div>

                <div class="res-padding">
                    <ul id="item-ul" class="item-ul">

                        <% for(var i=0; i < list.length; i++) { %>
                        <li class="item-li">
                            <div class="trans-left">
                                <%= list[i].flightId %>
                                <%= list[i].timeLeft %>
                                <%= list[i].departure %>
                                <%= list[i].destination %>
                            </div>
                            <div class="trans-right">
                                <%= list[i].phase %>
                            </div>
                        </li>
                        <% } %>

                    </ul>

                </div>
            </div>
        </section>

        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </div>
</body>


</html>